{% include ('/templates/cabecera.html') %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .formulario {
            font-size: 1.25rem; /* Ajusta el tamaño de fuente según tu preferencia */
            padding: 30px; /* Agrega espaciado interior según tu preferencia */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Primer formulario (izquierda) -->
            <div class="col-md-6 mx-auto">
                <div class="formulario w-100">
                    <form class="form-control" action="crear-registro2" method="post">
                        <!---alertas-->
                        <!----------->
                        <h1 class="text-center t">Registro Diagnostico</h1>
                        {% if mensaje %}
                            <div class="alert alert-danger" role="alert">
                                {{ mensaje }}
                            </div>
                        {% endif %}
    
                        <!-- Agregar dos ComboBox -->
                        <div class="form-group">
                            <label for="combo1" class="t text-center">Paciente</label>
                            <select class="form-select" id="combo1" name="opcion1">
                                <option value="opcion1_valor1">Opción 1 - Valor 1</option>
                                <option value="opcion1_valor2">Opción 1 - Valor 2</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="combo2" class="t text-center">Doctor</label>
                            <select class="form-select" id="combo2" name="opcion2">
                                <option value="opcion2_valor1">Opción 2 - Valor 1</option>
                                <option value="opcion2_valor2">Opción 2 - Valor 2</option>
                            </select>
                        </div>
    
                        <!-- Agregar campo de fecha -->
                        <div class="form-group">
                            <label for="fecha" class="t text-center">Fecha</label>
                            <input type="date" class="form-control" id="fecha" name="fecha">
                        </div>
    
                        <!-- Agregar campo de valor normal -->
                        <div class="form-group">
                            <label for="valorNormal" class="t text-center">Diagnóstico</label>
                            <input type="text" class="form-control" id="valorNormal" placeholder="Ingrese un valor normal" name="valorNormal">
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
    
            <!-- Segundo formulario (derecha) -->
            <div class="col-md-6 mx-auto">
                <div class="formulario w-100">
                    <!-- Aquí puedes agregar otro formulario si es necesario -->
                </div>
            </div>
        </div>
    </div>

    <!-----FIN--------->
</body>
{% include ('/templates/pie.html') %}
</html>

